*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
    background-image: url(https://t4.ftcdn.net/jpg/03/08/78/03/360_F_308780346_ImBwxdakPRbeJ0IE7JYoqpr8AzfGNHPV.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}
.container{
    text-align: center;
    padding: 5%;
}
div input{
    width: 20%;
    padding: 5px 10px;
    margin: 8px 0;

} 

#show:hover{
background: #ee1313;
    border-bottom-color: rgb(249, 251, 252);  
}



